{% if pratica.meetings | length > 0 %}
    <div class="mt-5">
        <div id="hidden" class="hidden" data-token='{{ token }}'></div>
        <div class="point-list-wrapper my-4">
            {% for meeting in meetings %}
            <div class="point-list" id="meeting_{{ meeting.id }}">
                {% set meetingDate = meeting.fromTime | date('Y-m-d') %}
                {% set now = 'now' |date('Y-m-d')  %}
                <div class="point-list-aside d-block {% if meetingDate < now %} point-list-secondary {% elseif meetingDate == now %} point-list-success {% else %} point-list-primary {% endif %}">
                    <div class="point-month text-monospace">{{ ('calendars.opening_hours.months.short.' ~ (meeting.fromTime | date('M'))) | trans }}</div>
                    <div class="point-date text-monospace">{{ meeting.fromTime | date('d') }}</div>
                    <div class="point-time text-monospace">{{ meeting.fromTime | date('H:i') }} - {{ meeting.toTime | date('H:i') }}</div>
                </div>
                <div class="point-list-content">
                    <div class="card card-teaser shadow">
                        <div class="card-body">
                            <div class="mb-3 text-right">
                                {% if meeting.status == 0 %}
                                    <div class="chip chip-warning">
                                        <svg class="icon icon-xs icon-warning">
                                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-warning"></use>
                                        </svg>
                                        <span class="chip-label">{{ 'operatori.meeting_status.pending' | trans }}</span>
                                    </div>
                                {% elseif meeting.status == 1 %}
                                    <div class="chip chip-success">
                                        <svg class="icon icon-xs icon-success">
                                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
                                        </svg>
                                        <span class="chip-label">{{ 'operatori.meeting_status.approved' | trans }}</span>
                                    </div>
                                {% elseif meeting.status == 2 %}
                                    <div class="chip chip-danger">
                                        <svg class="icon icon-xs icon-danger">
                                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
                                        </svg>
                                        <span class="chip-label">{{ 'operatori.meeting_status.refused' | trans }}</span>
                                    </div>
                                {% elseif meeting.status == 3 %}
                                    <div class="chip chip-danger">
                                        <svg class="icon icon-xs icon-danger">
                                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close-circle"></use>
                                        </svg>
                                        <span class="chip-label">{{ 'operatori.meeting_status.missed' | trans }}</span>
                                    </div>
                                {% elseif meeting.status == 4 %}
                                    <div class="chip chip-success">
                                        <svg class="icon icon-xs icon-success">
                                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check-circle"></use>
                                        </svg>
                                        <span class="chip-label">{{ 'operatori.meeting_status.complete' | trans }}</span>
                                    </div>
                                {% elseif meeting.status == 5 %}
                                    <div class="chip chip-danger">
                                        <svg class="icon icon-xs icon-danger">
                                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-delete"></use>
                                        </svg>
                                        <span class="chip-label">{{ 'operatori.meeting_status.cancelled' | trans }}</span>
                                    </div>
                                {% else %}
                                    <div class="chip chip-secondary">
                                        <svg class="icon icon-xs icon-secondary">
                                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-help-circle"></use>
                                        </svg>
                                        <span class="chip-label">{{ 'operatori.meeting_status.draft' | trans }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <h5 class="card-title mb-3">
                                <a href="{{ path('operatori_calendar_show', {'calendar': meeting.calendar.id}) }}">
                                    {{ meeting.calendar.title }}
                                </a>
                            </h5>
                            <div class="card-text">
                                {% if meeting.userMessage %}
                                    <div class="row">
                                        <div class="col-2">
                                            <svg class="icon">
                                                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-note"></use>
                                            </svg>
                                        </div>
                                        <div class="col-10">
                                            {% if meeting.userMessage %}
                                                <p class="my-2 font-italic">{{ meeting.userMessage }}</p>
                                            {% else %}
                                                <p class="font-italic text-secondary">{{ 'operatori.no_meeting_description' | trans }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if meeting.videoconferenceLink %}
                                    <div class="row">
                                        <div class="col-2">
                                            <svg class="icon">
                                                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-video"></use>
                                            </svg>
                                        </div>
                                        <div class="col-10">
                                            <a href="{{ meeting.videoconferenceLink }}" target="_blank">
                                                {{ 'operatori.go_to_videoconference' | trans }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if meeting.motivationOutcome %}
                                    <div class="row">
                                        <div class="col-2">
                                            <svg class="icon">
                                                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-comment"></use>
                                            </svg>
                                        </div>
                                        <div class="col-10">
                                                <p class="my-2 font-italic">{{ meeting.motivationOutcome }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="it-card-footer d-block mt-2">
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <a data-toggle="collapse" data-target="#info_{{ meeting.id }}" aria-expanded="false" aria-controls="info_{{ meeting.id }}" role="button">
                                            <svg class="icon icon-xs icon-secondary">
                                                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-plus"></use>
                                            </svg>
                                            <span class="font-weight-semibold text-secondary">{{ 'operatori.meeting_actions' | trans }}</span>
                                        </a>
                                    </div>
                                </div>
                                <div id="info_{{ meeting.id }}" class="mt-1 collapse">
                                    {% if meeting.status == 0 %}
                                    <button id="approve_{{ meeting.id }}" data-url='{{ path("meetings_api_patch", {'id': meeting.id}) }}'
                                            class="btn btn-success btn-xs mr-3" type="button" onclick="if(confirm('{{ 'meetings.modal.confirm_edit.status_1' | trans | escape('js') }}')) editMeetingStatus(this.id, 1)">
                                        {{ "meetings.modal.confirm" | trans() }} <svg class="icon icon-xs icon-white"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use></svg>
                                    </button>
                                    <button id="refuse_{{ meeting.id }}" data-url='{{ path("meetings_api_patch", {'id': meeting.id}) }}'
                                            class="btn btn-danger btn-xs mr-3" type="button" onclick="if(confirm('{{ 'meetings.modal.confirm_edit.status_2' | trans | escape('js') }}')) editMeetingStatus(this.id,2)">
                                        {{ "meetings.modal.refuse" | trans() }} <svg class="icon icon-xs icon-white"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use></svg>
                                    </button>
                                    {% elseif meeting.status in [1, 3, 4] %}
                                        <p class="my-3 small">{{ 'meetings.modal.status_change_helper' | trans }}</p>
                                        <button id="complete_{{ meeting.id }}" data-url='{{ path("meetings_api_patch", {'id': meeting.id}) }}'
                                            class="btn btn-success btn-xs mr-3" type="button" onclick="if(confirm('{{ 'meetings.modal.confirm_edit.status_4' | trans | escape('js') }}')) editMeetingStatus(this.id,4)">
                                        {{ "meetings.modal.done" | trans() }} <svg class="icon icon-xs icon-white"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use></svg>
                                    </button>
                                    <button id="missed_{{ meeting.id }}" data-url='{{ path("meetings_api_patch", {'id': meeting.id}) }}'
                                            class="btn btn-danger btn-xs mr-3" type="button" onclick="if(confirm('{{ 'meetings.modal.confirm_edit.status_3' | trans | escape('js') }}')) editMeetingStatus(this.id,3)">
                                        {{ "meetings.modal.absent" | trans() }} <svg class="icon icon-xs icon-white"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use></svg>
                                    </button>
                                    <button id="cancel_{{ meeting.id }}" data-url='{{ path("meetings_api_patch", {'id': meeting.id}) }}'
                                            class="btn btn-warning btn-xs mr-3" type="button" onclick="if(confirm('{{ 'meetings.modal.confirm_edit.status_5' | trans | escape('js') }}')) editMeetingStatus(this.id,5)">
                                        {{ "meetings.modal.cancel" | trans() }} <svg class="icon icon-xs icon-white"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-delete"></use></svg>
                                    </button>
                                        {% else %}
                                            <p class="my-3 small">{{ 'meetings.modal.no_status_actions' | trans }}</p>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix my-4"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="text-center font-italic">{{ 'operatori.no_meetings' | trans }}</div>
{% endif %}