{% set ente = instance_service.getCurrentInstance() %}
{#<section id="subfooter" class="clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <ul class="list-inline list-unstyled">
                        <li><a href="{{ path('home') }}">{{ 'nav.home'|trans() }}</a></li>
                        <li><a href="{{ path('privacy') }}">{{ 'nav.informativa_privacy'|trans() }}</a></li>
                        <li class="pull-right"><a href="{{ path('operatori_index') }}">{{ 'nav.operatori.accesso_operatori'|trans() }}</a></li>
                    </ul>
                    {% if ente %}
                        <p>{{ 'credits'|trans({'%ente_name%': ente.name}) }}</p>
                    {% endif %}
                    <p>{{ 'powered_by'|trans()|raw() }}</p>
                </div>
            </div>
        </div>
    </div>
</section>#}
