{% if pratica.statusName != 'STATUS_DRAFT' %}
  {{ include('AppBundle:Pratiche/summary/parts:protocollo.html.twig', {'pratica':pratica, 'user': user}) }}

  <div class="row mt-5">
    <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.stato'|trans }}</strong></div>
    <div class="col-12 col-sm-9"> {{ ('pratica.dettaglio.stato_'~pratica.status)|trans }}</div>
  </div>
{% endif %}

{% if pratica.servizio != null %}
  <div class="row">
    <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.servizio'|trans }}</strong></div>
    <div class="col-12 col-sm-9">{{ pratica.servizio.name }}</div>
  </div>
{% endif %}

{% if pratica.ente != null %}
  <div class="row">
    <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.ente'|trans }}</strong></div>
    <div class="col-12 col-sm-9"> {{ pratica.ente.name }}</div>
  </div>
{% endif %}

{{ include('AppBundle:Pratiche/summary/parts:richiedente.html.twig', {'pratica':pratica, 'user': user}) }}

{{ include('AppBundle:Pratiche/summary/parts:delega.html.twig', {'pratica':pratica, 'user': user}) }}

{% if pratica.oggetto != null %}
  <div class="row">
    <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.oggetto'|trans }}</strong></div>
    <div class="col-12 col-sm-9"> {{ pratica.oggetto }}</div>
  </div>
{% endif %}
