{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form ':form:ocsdc_form_style.html.twig' %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
    </div>
{{ form_end(form) }}
