{% extends '@App/Default/index.html.twig' %}

{% set ente = instance_service.getCurrentInstance() %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('service-manager') }}
{% endblock %}

{% block main_content %}

  <section id="intro" class="container px-4 my-4 {{ form.vars.id }}">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
          <h2>Validazione custom per {{ servizio.name }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 px-lg-4">
        {{ form(form) }}
      </div>
    </div>

    <hr />

    <pre class="bg-light p-2">
      applications.count({
        service: ['Identificatore servizio',...],
        data: {'Identificatore campo': submission['Identificatore campo'], ...},
        status: ['Codice stato',...],
        id: ['ID pratica',...]
      }){#
    #}</pre>

    <table class="table">
      <tr>
        <th>Identificatore servizio</th>
        <td>{{ servizio.getSlug }}</td>
      </tr>
    </table>

    <table class="table">
      <tr>
        <th>Etichetta campo</th>
        <th>Identificatore campo</th>
      </tr>
      {% for component in schema.getComponents %}
        <tr>
          <td>{{ component.label }}</td>
          <td>{{ component.name }}</td>
        </tr>
      {% endfor %}
    </table>

    <table class="table">
      <tr>
        <th>Nome stato</th>
        <th>Codice stato</th>
      </tr>
    {% for status in statuses %}
      <tr>
        <td>{{ status.identifier }}</td>
        <td>{{ status.id }}</td>
      </tr>
    {% endfor %}
    </table>

  </section>

{% endblock %}
