{% extends '@App/Default/index.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('.clone').click(function (e) {
        e.preventDefault()
        let button = $(this)
        let temp = $("<input>")
        $("body").append(temp)
        temp.val(button.data('url')).select()
        document.execCommand("copy")
        button.find('span').text('URL copiato')
        temp.remove();
        setTimeout(function () {
          button.find('span').text('Copia URL')
        }, 2000);

      })
    })
  </script>
{% endblock %}

{% block main_content %}
  <section id="intro" class="container-full px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>{{ 'nav.admin.servizi'|trans }}</h2>
      </div>

      <div class="col-lg-12 px-lg-4 py-lg-2">
          <table class="table table-striped table-condensed table-sm">
            <thead>
            <tr>
              <th class="w-50">{{ 'general.nome'|trans }}</th>
              <th>{{ 'general.url'|trans }}</th>
              <th>{{ 'servizio.gruppo'|trans }}</th>
              <th>{{ 'servizio.livello_accesso'|trans }}</th>
              <th>{{ 'general.stato'|trans }}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
              <tr>
                <td class="min-h-65">
                  <a class="" href="{{ path('admin_servizio_edit', { 'servizio': item.id }) }}">{{ item.name }}</a>
                </td>
                <td class="min-h-65">
                  <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Copia
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item clone" href="#"
                         data-url="{{ absolute_url(path('servizi_show', { 'slug': item.slug })) }}"
                         data-container="body" data-toggle="popover" data-trigger="hover"
                         data-placement="right"
                         data-html="true" title="Url pubblico del servizio"
                         data-content="Copia l'URL pubblico del servizio.">
                        Url pubblico
                      </a>
                      {% if item.status != constant('STATUS_CANCELLED', item) %}
                        <a class="dropdown-item clone" href="#"
                           data-url="{{ absolute_url(path('service_api_get', { 'id': item.id })) }}"
                           data-container="body" data-toggle="popover" data-trigger="hover"
                           data-placement="right"
                           data-html="true" title="Url servizio"
                           data-content="Copia l'URL ed incollala nel form Importa servizio da remoto.">
                          Url Api
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </td>
                <td>{% if item.serviceGroup %}{{ item.serviceGroup.name }}{% endif %}</td>
                <td class="min-h-65">
                  {{ access_levels[item.accessLevel] }}
                </td>
                <td class="min-h-65">
                  {{ statuses[item.status] }}
                  {% if item.status == 4 %}
                    <small class="d-block">da {{ item.scheduledFrom|date(ocsdc_default_datetime_format) }}</small>
                    <small class="d-block">a {{ item.scheduledTo|date(ocsdc_default_datetime_format) }}</small>
                  {% endif %}
                </td>
                <td class="min-h-65 text-right">
                  <a class="btn btn-secondary btn-xs mb-1 "
                     href="{{ path('admin_servizio_edit', { 'servizio': item.id }) }}">
                    <svg class="icon icon-sm icon-white">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-pencil"></use>
                    </svg>
                      <span class="d-none d-md-inline-block">{{ 'modifica'|trans }}</span></a>
                  <a class="btn btn-danger btn-xs mb-1"
                     onclick="return confirm('{{ 'general.alert_elimina'|trans }}');"
                     href="{{ path('admin_servizio_delete', { 'id': item.id }) }}">
                    <svg class="icon icon-sm icon-white">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-delete"></use>
                    </svg>
                    <span class="d-none d-md-inline-block">{{ 'elimina'|trans }}</span></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

      </div>
      <div class="col-lg-4 px-lg-4 py-lg-2 mt-4">
        <a class="btn btn-primary" href="{{ path('admin_service_new') }}">{{ 'aggiungi'|trans }}</a>
      </div>
      <div class="col-lg-8 px-lg-4 py-lg-2 mt-4">
        <form action="{{ path('admin_servizio_import') }}" method="post">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <svg class="icon icon-sm icon-secondary">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
                  </svg>
                </div>
              </div>
              <input type="text" class="form-control" name="url">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">{{ 'servizio.importa'|trans }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
