<div class="row">
  <div class="col-lg-12 px-lg-4">

    {% if servizio.ente.backofficeEnabledIntegrations|length > 0 %}
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {% if form.vars.helper.descriptionText|length > 0 %}
        <blockquote>
          {{ form.vars.helper.descriptionText|raw }}
        </blockquote>
      {% endif %}
      {{ form_rest(form) }}
      {{ include('AppBundle:Admin/servizio:_saveButtons.html.twig') }}
      {{ form_end(form) }}
    {% else %}
      <div class="alert alert-warning">
        <p>Abilita le integrazioni ai <a href="{{ path('admin_edit_ente') }}#options">backoffices</a> per poter accedere
          a questa sezione.</p>
      </div>
    {% endif %}

  </div>
</div>
