<div class="row">
  <div class="col-lg-12 px-lg-4">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if form.vars.helper.descriptionText|length > 0 %}
      <blockquote>
        {{ form.vars.helper.descriptionText|raw }}
      </blockquote>
    {% endif %}

    {% if current_step == 'messages' and schema.components %}
      <div class="col-12 text-right">
        <a data-toggle="collapse" data-target="#form_placeholders" aria-expanded="false"
           aria-controls="form_placeholders" role="button">
          <svg class="icon">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-more-items"></use>
          </svg>
        </a>
        <span
          class="font-weight-semibold text-secondary">{{ 'servizio.placeholder_disponibili'  | trans }}</span>
      </div>
      <div id="form_placeholders" class="py-3 collapse">
        <p>{{ 'servizio.placeholder_disponibili_descrizione'  | trans }}</p>
        <table class="table table-hover">
          <tbody>
          {% for component in schema.components %}
            <tr>
              <td class="font-weight-semibold text-secondary">{{ component.formOptions.label|slice(0,100) }}:
              </td>
              <td>%{{ component.name }}%</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    {{ form_rest(form) }}

    {% if current_step == 'app-io' %}
      <div id="io_test" class="clearfix bg-light px-3 py-5">
        <p class="text-info" id="io_helper"><i
            class="fa fa-info-circle mr-2"></i>{{ 'app_io.test.helper' | trans }}</p>
        <div class="form-group">
          <label for="form_io_send_test_fiscal_code">{{ 'app_io.test.codice_fiscale' | trans }}</label>
          <input type="text" id="form_io_send_test_fiscal_code" name="form[test_fiscal_code]"
                 class="form-control">
        </div>
        <div id="error_messages"></div>
        <div class="form-group">
          <button type="button" id="form_io_send_test" name="form[test]" class="btn-primary float-right btn"
                  data-url="{{ path('test_io') }}">
            {{ 'app_io.test.label' | trans }}
          </button>
        </div>
      </div>
    {% endif %}


    <div class="row d-none">
      <div class="col-lg-12">
        <div class="callout">
          <div class="callout-title">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use>
            </svg>
            Guida
          </div>
          <p>Seleziona un template di partenza per la creazione del form</p>
        </div>
      </div>
      <div class="col-lg-12"><h5>Template vuoto</h5></div>
      <div class="card-wrapper card-teaser-wrapper col-lg-12" id="formio-empty-templates-container"></div>
      <div class="col-lg-12"><h5>Templates basati su servizi esistenti</h5></div>
      <div class="card-wrapper card-teaser-wrapper col-lg-12" id="formio-templates-container" data-url="{{ path('admin_servizio_list') }}"></div>
    </div>


    <div id="formio" data-formserver_url="{{ formserver_url }}"></div>
    <div id="builder"></div>

    {{ include('AppBundle:Admin/servizio:_saveButtons.html.twig') }}
    {{ form_end(form) }}
  </div>

</div>
