<div class="row">
  <div class="col-lg-12 px-lg-4">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if form.vars.helper.descriptionText|length > 0 %}
      <blockquote>
        {{ form.vars.helper.descriptionText|raw }}
      </blockquote>
    {% endif %}

    <div class="col-12 text-right">
      <a data-toggle="collapse" data-target="#form_placeholders" aria-expanded="false"
         aria-controls="form_placeholders" role="button">
        <svg class="icon">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-more-items"></use>
        </svg>
      </a>
      <span
        class="font-weight-semibold text-secondary">{{ 'servizio.placeholder_disponibili'  | trans }}</span>
    </div>

    <div id="form_placeholders" class="mt-2 p-3 border collapse">
      <h5>Modulo utente</h5>
      <table class="table table-hover table-condensed table-striped table-sm mt-2">
        <tbody>
        {% for component in schema.components %}
          <tr>
            <td class="font-weight-semibold text-secondary w-50">{{ component.formOptions.label|slice(0,100) }}:</td>
            <td>%{{ component.name }}%</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if backoffice_schema %}
        <h5 class="mt2">Modulo backoffice</h5>
        <table class="table table-hover table-condensed table-striped table-sm mt-2">
          <tbody>
          {% for component in backoffice_schema.components %}
            <tr>
              <td class="font-weight-semibold text-secondary w-50">{{ component.formOptions.label|slice(0,100) }}:</td>
              <td>%{{ component.name }}%</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>


    {% if form.feedback_messages_settings is defined %}
      {{ form_widget(form.feedback_messages_settings) }}
    {% endif %}

    <ul class="nav nav-tabs">
      {% for locale,child in form.i18n %}
        <li role="presentation" class="nav-item">
          <a class="nav-link {{ locale == app.request.locale?"active":"" }}" href="#{{ locale }}_i18n-fields" data-toggle="tab">
            {{ locale|capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content mt-1 pb-3">
      {% for locale,child in form.i18n %}
        <div role="tabpanel" class="tab-pane {{ locale == app.request.locale?"active":"" }}" id="{{ locale }}_i18n-fields">
          {{ form_widget(child) }}
        </div>
      {% endfor %}
    </div>

    {{ form_rest(form) }}

    {{ include('AppBundle:Admin/servizio:_saveButtons.html.twig') }}
    {{ form_end(form) }}
  </div>

</div>
