{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
    <section id="fos" class="container px-4 my-4">
        <div class="row">
            <div class="col-lg-12 px-lg-4 py-lg-2">
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
