{% set ente = instance_service.getCurrentInstance() %}

{% if is_granted('ROLE_OPERATORE') %}
  <div class="pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="menu-wrapper user-menu pl-4 nav-tabs-hidescrol">
            <ul class="nav nav-tabs nav-tabs-icon-text auto" style="background-color: transparent">
              <li
                class="nav-item">
                <a
                  class="nav-link {% if  app.request.pathInfo ends with 'operatori/' %} active {% endif %}"
                  href="{{ path('operatori_index') }}">
                  <svg class="icon icon-sm icon-primary left mr-1">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-list"></use>
                  </svg>
                  {{ 'nav.operatori.panello_controllo'|trans }}
                </a>
              </li>
              {# <li class="nav-item {% if 'parametri-protocollo' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link"
                   href="{{ path('operatori_impostazioni_protocollo_list') }}">
                  {{ 'nav.operatori.protocollo'|trans }}
                </a>
              </li> #}
              <li class="nav-item">
                <a class="nav-link {% if 'usage' in app.request.pathInfo %} active {% endif %}"
                   href="{{ path('operatori_usage') }}">
                  <svg class="icon icon-sm icon-primary left mr-1">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chart-line"></use>
                  </svg>
                  {{ 'nav.operatori.usage'|trans }}
                </a>
              </li>
              {% if ente.backofficeEnabledIntegrations|length > 0 %}
                {% if "operatori_calendars_index" in ente.backofficeEnabledIntegrations %}
                  <li class="nav-item">
                    <a
                      class="list-item left-icon nav-link {% if 'calendars' in app.request.pathInfo %} active {% endif %}"
                      href="{{ path('operatori_calendars_index') }}">
                      <svg class="icon icon-sm icon-primary left mr-1">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-calendar"></use>
                      </svg>
                      <span> Calendari</span>
                    </a>
                  </li>
                {% endif %}
                {% if "operatori_subscription-service_index" in ente.backofficeEnabledIntegrations %}
                  <li class="nav-item">
                    <a
                      class="list-item left-icon nav-link {% if 'subscription-service' in app.request.pathInfo %} active {% endif %}"
                      href="{{ path('operatori_subscription-service_index') }}">
                      <svg class="icon icon-sm icon-primary left mr-1">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-note"></use>
                      </svg>
                      <span>Servizi a sottoscrizione</span>
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% elseif is_granted('ROLE_ADMIN') %}
  <div class="bg-100 pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="menu-wrapper user-menu pl-4">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <div class="dropdown">
                  <a class="btn btn-dropdown dropdown-toggle" style="padding: 0.5rem 1rem; font-weight: 300" href="#"
                     role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                    {{ 'nav.admin.impostazioni_istanza'|trans }}
                    <svg class="icon-expand icon icon-sm icon-primary">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                    </svg>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="link-list-wrapper">
                      <ul class="link-list">
                        <li><a class="list-item" href="{{ path('admin_edit_ente') }}"><span>{{ 'nav.admin.ente'|trans }}</span></a></li>
                        <li><a class="list-item" href="{{ path('admin_category_index') }}"><span>{{ 'nav.admin.categorie'|trans }}</span></a></li>
                        <li><a class="list-item" href="{{ path('admin_payment_gateway_index') }}"><span>{{ 'nav.admin.metodi_pagamento'|trans }}</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item {% if 'operatore' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link "
                   href="{{ path('admin_operatore_index') }}">
                  {{ 'nav.admin.operatori'|trans }}
                </a>
              </li>
              <li class="nav-item {% if 'servizio' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link"
                   href="{{ path('admin_servizio_index') }}">
                  {{ 'nav.admin.servizi'|trans }}
                </a>
              </li>
              <li class="nav-item {% if 'usage' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link" href="{{ path('admin_usage') }}">
                  {{ 'nav.operatori.usage'|trans }}
                </a>
              </li>
              <li class="nav-item {% if 'service-group' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link "
                   href="{{ path('admin_service_group_index') }}">
                  {{ 'nav.admin.gruppo_servizi'|trans }}
                </a>
              </li>
              <li class="nav-item {% if 'webhook' in app.request.pathInfo %} active {% endif %}">
                <a class="nav-link "
                   href="{{ path('admin_webhook_index') }}">
                  {{ 'nav.admin.webhook'|trans }}
                </a>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <a class="btn btn-dropdown dropdown-toggle" style="padding: 0.5rem 1rem; font-weight: 300" href="#"
                     role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                    {{ 'nav.admin.strumenti'|trans }}
                    <svg class="icon-expand icon icon-sm icon-primary">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                    </svg>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="link-list-wrapper">
                      <ul class="link-list">
                        <li><a class="list-item" href="{{ path('admin_scheduled_actions_index') }}"><span>{{ 'nav.admin.azioni_programmate'|trans }}</span></a>
                        </li>
                        <li><a class="list-item" href="{{ path('admin_logs_index') }}"><span>{{ 'nav.admin.logs'|trans }}</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              {{ include('@App/Default/nav/backoffices.html.twig') }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="bg-100 pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="menu-wrapper user-menu pl-4">
            <ul class="nav justify-content-center">
              {% if  login_route == constant('AppBundle\\Security\\AbstractAuthenticator::LOGIN_TYPE_NONE') %}
                <li class="nav-item {% if 'servizi' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('servizi_list') }}">
                    {{ 'nav.servizi'|trans }}
                  </a>
                </li>
              {% else %}
                <li class="nav-item {% if 'dashboard' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('user_dashboard') }}">
                    {{ 'nav.dashboard'|trans }}
                  </a>
                </li>
                <li class="nav-item {% if 'servizi' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('servizi_list') }}">
                    {{ 'nav.servizi'|trans }}
                  </a>
                </li>
                <li
                  class="nav-item {% if 'pratiche' in app.request.pathInfo and 'allegati' not in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('pratiche') }}">
                    {{ 'nav.pratiche'|trans }}
                  </a>
                </li>
                <li class="nav-item {% if 'profilo' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('user_profile') }}">
                    {{ 'nav.profilo'|trans }}
                  </a>
                </li>
                <li class="nav-item {% if 'allegati' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('allegati_list_cpsuser') }}">
                    {{ 'nav.allegati'|trans }}
                  </a>
                </li>
                <li class="nav-item {% if 'documenti' in app.request.pathInfo %} active {% endif %}">
                  <a class="nav-link " href="{{ path('folders_list_cpsuser') }}">
                    {{ 'nav.documenti'|trans }}
                  </a>
                </li>
                {% if 'operatori_subscription-service_index' in ente.backofficeEnabledIntegrations %}
                  <li class="nav-item {% if 'iscrizioni' in app.request.pathInfo %} active {% endif %}">
                    <a class="nav-link " href="{{ path('subscriptions_list_cpsuser') }}">
                      {{ 'nav.iscrizioni'|trans }}
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

