{% extends '@App/Default/index.html.twig' %}
{% set ente = instance_service.getCurrentInstance() %}
{% block main_content %}

    <h1>Informativa per il trattamento dei dati personali (art. 13 D. Lgs. n. 196/2013)</h1>

    <h2>1. Titolare del trattamento</h2>
    <p>Il Titolare del trattamento dei dati personali di cui alla
        presente Informativa è il {{ ente.name }}.</p>
    <p>Ai sensi dell'art.
        13 del D. lgs. n. 196/2003 “Codice in materia di protezione dei dati personali” (di seguito denominato
        “Codice”), il {{ ente.name }}, in qualità di Titolare del trattamento, è tenuto a fornirti informazioni in
        merito
        all’utilizzo dei tuoi dati personali.</p>
    <p>Il responsabile del trattamento dei dati relativi al rilascio e alla
        verifica dell’identità digitale è Informatica Trentina S.p.A.</p>
    <p>La presente informativa si riferisce al
        trattamento dei dati personali degli utenti effettuato dal {{ ente.name }} nell'ambito del
        portale dei servizi on-line denominato “La Stanza del Cittadino” (di seguito, anche il Sito).</p>

    <h2>2. Finalità del trattamento</h2>
    <p>Ai sensi dell’articolo 13 del Codice citato e successive
        modificazioni ed integrazioni, ti informiamo che i tuoi dati personali saranno trattati solo ed esclusivamente
        per
        consentirti di registrarti a “La Stanza del Cittadino” e di usufruire dei servizi e delle
        funzionalità messi a disposizione degli utenti.</p>
    <p>Puoi accedere al Portale mediante la Carta Provinciale dei
        Servizi; in questo caso, i dati associati al tuo account (nome, cognome, email e, ove conferiti, codice fiscale,
        stato estero/comune di nascita, data di nascita, pec, telefono, residenza) saranno condivisi con il {{ ente.name }} e con gli Enti Locali soci, secondo le modalità previste dalla legge.</p>

    <h2>3. Modalità del trattamento</h2>
    <p>Il trattamento dei dati forniti dall’utente avviene nel rispetto
        del Codice Privacy e di ogni altra normativa in materia di tutela della privacy. I dati forniti vengono trattati
        a
        mezzo del sistema informatico della Carta Provinciale dei Servizi, nel rispetto delle predette finalità ed
        in
        modo da garantire la sicurezza e la riservatezza dei dati medesimi. Specifiche misure di sicurezza sono
        osservate
        per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati.</p>

    <h2>4. Comunicazione e Diffusione</h2>
    <p>I tuoi dati personali potranno essere conosciuti esclusivamente dagli
        operatori individuati quali Incaricati del trattamento dal Titolare e dal Responsabile del trattamento. Il
        {{ ente.name }} impartisce le opportune istruzioni scritte ai soggetti che opereranno come Incaricati ai
        sensi
        dell’art. 30 del D. lgs. 30 giugno 2003, n. 196 s.m., vigilando sul loro operato.</p>
    <p>I dati trattati non sono
        soggetti a diffusione.</p>

    <h2>5. Trattamenti connessi con i servizi accessibili a “La Stanza del Cittadino”</h2>
    <p>Accedendo a “La Stanza del Cittadino”, potrai dialogare con l'amministrazione
        comunale, usufruendo di tutti i servizi di volta in volta messi a disposizione degli utenti (richiesta
        certificati,
        pagamenti, segnalazioni, servizi tributari, etc...).</p>
    <p>Con riferimento ai dati raccolti e trattati per
        l'erogazione dei servizi online, il {{ ente.name }} informa che:</p>
    <p>a) il trattamento dei dati
        personali conferiti con l'istanza/dichiarazione è finalizzato allo sviluppo del relativo procedimento
        amministrativo
        ed alle attività ad esso correlate;  </p>
    <p>b) il trattamento dei dati sensibili è effettuato in base a norme di
        legge o di regolamento, che ne autorizzano l'effettuazione ed è finalizzato all'esercizio delle funzioni
        istituzionali;</p>
    <p>c) il trattamento sarà effettuato con strumenti informatici, telematici e/o manuali;</p>
    <p> d)
        il conferimento dei dati è obbligatorio per il corretto svolgimento dell'istruttoria e degli altri adempimenti
        procedimentali;</p>
    <p>e) il mancato conferimento di alcuni o di tutti i dati richiesti può comportare l'interruzione
        del procedimento;  </p>
    <p>f) in relazione al procedimento ed alle attività correlate, il {{ ente.name }} può comunicare i dati acquisiti con le dichiarazioni/richieste ad altri Enti pubblici o privati
        competenti;
         </p>
    <p>g) il dichiarante può esercitare i diritti previsti dall'art. 7 del D.Lgs. n. 196/2003;</p>
    <p> g) titolare
        della banca dati è il {{ ente.name }}; responsabile del trattamento dei dati è il Direttore
        generale
        del {{ ente.name }}.</p>

    <h2>6. Facoltatività del conferimento dei dati</h2>
    <p>Il conferimento dei dati è facoltativo, ma in mancanza non sarà possibile adempiere alle
        finalità descritte al punto 2.</p>

    <h2>7. Cookies</h2>
    <p>I cookies sono piccoli file di
        testo che i siti visitati inviano al terminale dell'utente, dove vengono memorizzati, per poi essere ritrasmessi
        agli stessi siti alla visita successiva.</p>
    <p>Il Portale utilizza cookies di sessione e di autenticazione per la
        gestione del servizio di autenticazione strumentale all’accesso ai servizi.</p>
    <p>I cookies utilizzati dal Portale
        non consentono la raccolta di informazioni personali relative all’utente e si cancellano automaticamente con la
        chiusura del browser di navigazione.</p>
    <p>I cookies non sono utilizzati per attività di profilazione
        dell’utente.</p>
    <p>L’utente può scegliere di abilitare o disabilitare i cookies intervenendo sulle impostazioni del
        proprio browser di navigazione secondo le istruzioni rese disponibili dai relativi fornitori.</p>
    <p>La
        disabilitazione dei cookies di sessione comporterà l’impossibilità per l’utente di autenticarsi in vista
        dell’accesso ai servizi.</p>

    <h2>8. Dati sulla posizione dell'utente</h2>
    <p>Il
        Portale può utilizzare dati sulla tua posizione geografica al fine di consentirti di visualizzare su una
        mappa
        gli uffici comunali a te più vicini.</p>
    <p>La localizzazione avviene per mezzo delle informazioni sulla posizione
        rese disponibili dal tuo browser di navigazione mediante un'apposita estensione software; tali dati non
        consentono
        di identificare l'utente né di tracciarne gli spostamenti.</p>
    <p>I dati sulla posizione sono utilizzati
        esclusivamente per la finalità sopra indicata e non vengono conservati dal {{ ente.name }}.</p>
    <p>Per
        impedire al Portale di utilizzare i dati sulla tua posizione, è sufficiente intervenire sulle impostazioni del
        browser di navigazione, escludendo tale funzionalità.</p>

    <h2>9. Diritti dell'Interessato</h2>
    <p>Ti
        informiamo, infine, che in ogni momento potrai esercitare i tuoi diritti nei confronti del titolare del
        trattamento,
        ai sensi dell'art. 7 del Codice della privacy. In particolare, potrai chiedere di conoscere l’esistenza di
        trattamenti di dati che possono riguardarti; di ottenere senza ritardo la comunicazione in forma intellegibile
        dei
        medesimi dati e della loro origine, la cancellazione, la trasformazione in forma anonima o il blocco dei dati
        trattati in violazione di legge; l’aggiornamento, la rettificazione ovvero l’integrazione dei dati;
        l’attestazione
        che le operazioni predette sono state portate a conoscenza di coloro ai quali i dati sono stati comunicati,
        eccettuato il caso in cui tale adempimento si riveli impossibile o comporti un impiego di mezzi manifestamente
        sproporzionato rispetto al diritto tutelato; di opporsi, in tutto o in parte, per motivi legittimi, al
        trattamento
        dei dati personali che ti riguardano, ancorché pertinenti allo scopo della raccolta.</p>

    <p>I diritti di cui all'art.
        7 del Codice privacy potranno essere esercitati direttamente nei confronti del Titolare del trattamento.</p>

{% endblock %}
